@import 'reset.less';

body{
  border: 1px solid blue;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: lightgray;
}

.app-div{
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 99.5vh;
  margin: 0;
}

header {
  border: 1px solid red;
  width: 100%;
  background: white;

  .all-contact-tabs {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    .logo {
      cursor: pointer;
      font-size: 35px;
      padding: 9px;
      color: black;
    }
  }
}

.main {
  border: 1px solid red;
  margin: 0;
  width: 100%;
  background: white;

  .title {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 13vw;
    margin: 0;
    padding: 0;
    h1 {
      font-size: 13vw;
      margin: 10px;
      color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      mi {

      }
      ke {
        color: black;
      }
    }
  }
  .all-links {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      border: 1px solid red;
      margin: 0 3px;
      padding: 3px;
      color: black;
      font-size: 18px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}

footer {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: 12px;
  padding: 5px 0;
  background: white;
  
}
