.app-div {
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space space-between;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
.app-div header {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 13vw;
}
.app-div header span {
  color: gray;
  font-size: 13vw;
}
.all-contact-tabs {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: green;
}
.main {
  border: 1px solid red;
}
